doctype html
html
  head
    title UNEME - CAPA
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascripts" src="javascripts/materialize.min.js")
      
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.min.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
      
    meta(name="viewport" content="width-device-width, initial-scale=1, maxinum-scale=1")
  
  body
    nav(class="green darken-3")
      div(class="nav-wrapper")
        a(href="#" class="brand-logo right") UNEME - CAPA
        ul(id="nav-mobile" class="left hide-on-med-and-down")
          li
            a(href="/") Inicio
          li
            a(href="/consulta") Consulta de citas
          li
            a(href="/login") Inicio de sesión   
    div(class="row padding-top padding-bottom")
      div(class="col s6")
        h5(class="green darken-2" class="center white-text") Inicio
  
