doctype html
html
  head
    title UNEME - CAPA
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.min.js")
    
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.min.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
      
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
        div(class="z-depth-3 col s12 m10 l10 offset-l1")
          div(class="row")
            br
            div(class="col s2 push-s1")
              img(src="images/logo.jpg" width="200" height="100" class="")
            div(class="col s6 ")
              h4(class="right green-text darken-3") UNEME - CAPA
          div(class="row")
            div(class="col s2 push-s1")
              ul(id="slide-out" class="sidenav")
                li
                  div(class="user-view")
                    div(class="background")
                      img(src="images/fondo.jpg")
                    a(href="#user")
                      img(class="circle" src="images/user_soporte.png")
                    a(href="#name")
                      span(class="black-text name") Coordinador
                    a(href="#email")
                      span(class="black-text email") prueba_coordinador@gmail.com
                li
                  a(href="instrumentosPrincipal") Instrumentos
                    i(class="material-icons") cloud_download
                li
                  a(href="verEmpleados") Ver empleados
                    i(class="material-icons") account_circle
                li
                  a(href="registrar") Registrar empleado
                    i(class="material-icons") person_add
                li
                  a(href="/logout/") Cerrar sesión
                    i(class="material-icons") exit_to_app
              a(href="#" data-target="slide-out" class="sidenav-trigger")
                i(class="material-icons") menu   
        

        div(class="row padding-top padding-bottom")
          div(class="col s6 push-s3")
            h5(class="green darken-2" class="center white-text") Registrar empleado
        div(class="container")
          br
          div(class="row padding-top padding-bottom")
            div(class="z-depth-1 col s12 m10 l10 offset-l1")
              div(class="row")
                form(class="col s10 push-s1 pull-s1" method="post" action="/registrarE")
                  div(class="row")
                    div(class="input-field col s6 pull-6")
                      input(name="Nombre" id="Nombre" type="text" class="validate" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" required)                   
                      label(for="Nombre") Nombre (s)
                    div(class="input-field col s6 pull-6")
                      input(name="ApPaterno" id="ApPaterno" type="text" class="validate" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" required)                   
                      label(for="ApPaterno") Apellido paterno
                  div(class="row")
                    div(class="input-field col s6 pull-6")
                      input(name="ApMaterno" id="ApMaterno" type="text" class="validate" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" required)
                      label(for="ApMaterno") Apellido materno
                    div(class="col s6")
                      label Sexo
                        select(name="Sexo")
                          option(value="femenino") Femenino
                          option(value="femenino") Masculino                                     
                  div(class="row")
                    div(class="input-field col s6")
                      input(name="Telefono" id="Telefono" type="text" class="validate" pattern="\\d{7,20}" required)
                      label(for="Telefono") Telefono                                                                  
                    div(class="col s6")
                      label Puesto
                        select(name="Puesto")
                          option(value="psicologo") Psicologo
                          option(value="trabajador social") Trabajador social
                          option(value="recepcionista") Recepcionista 
                  div(class="row")
                    div(class="col s5 push-s4")
                      button(class="waves-effect waves-light btn right green darken-1" type="submit" name="registrar") Guardar
                    div(clas="col s5 pull-s3")
                      a(class="waves-effect waves-light btn right blue-grey darken-4 ") Inicio 
    
    
        script.
              (function($){
                $(function(){
                $('.sidenav').sidenav();
                });
              })(jQuery);
              $(document).ready(function(){
                $('select').formSelect();
              });
          
          
