doctype html
html
  head
    title UNEME - CAPA
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.min.js")
    script(src="javascripts/metodoPsico.js")
    
    
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.min.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
      
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
        div(class="z-depth-3 col s12 m10 l10 offset-l1")
          div(class="row")
            br
            div(class="col s2 push-s1")
              img(src="images/logo.jpg" width="200" height="100" class="")
            div(class="col s6 ")
              h4(class="right green-text darken-3") UNEME - CAPA
          div(class="row")
            div(class="col s2 push-s1")
              ul(id="slide-out" class="sidenav")
                li
                  div(class="user-view")
                    div(class="background")
                      img(src="images/fondo.jpg")
                    a(href="#user")
                      img(class="circle" src="images/user_soporte.png")
                    a(href="#name")
                      span(class="black-text name") Psicologo
                    a(href="#email")
                      span(class="black-text email") prueba_Psicologo@gmail.com
                li
                  a(href="tratamientoPrincipal") Tratamiento clínico
                    i(class="material-icons") assignment_ind
                li
                  a(href="historial") Historial notas tratamiento
                    i(class="material-icons") assignment 
                li
                  a(href="tratamientoRegistro") Registro nota tratamiento
                    i(class="material-icons") subject
                li
                  a(href="egreso") Egreso
                    i(class="material-icons") assignment_turned_in
                li
                  a(href="historialEgresos") Historial egresos
                    i(class="material-icons") folder_shared
                li
                  a(href="citasP") Agendar citas
                    i(class="material-icons") event_note
                li
                  a(href="/logout/") Cerrar sesión
                    i(class="material-icons") exit_to_app
              a(href="#" data-target="slide-out" class="sidenav-trigger")
                i(class="material-icons" ) menu   
        

        div(class="row padding-top padding-bottom")
          div(class="col s6 push-s3")
            h5(class="green darken-2" class="center white-text") Tratamiento clínico del paciente
        div(class="container")
          br
          div(class="row padding-top padding-bottom")
            div(class="z-depth-1 col s12 m10 l10 offset-l1")
              div(class="row")
                form(class="col s10 push-s1 pull-s1")
                  div(class="row")
                    div(class="col l2 m6 s2")
                      a(class="btn-floating btn-tiny waves-effect waves-light green darken-3 btn modal-trigger" data-target="tratamiento_clinico")                 
                       i(class="material-icons") search
                    div(class="input-field col s6")
                      input(placeholder="Numero" name="NoExpediente" id="NoExpediente" type="text" class="validate" readonly required)                   
                      label(for="NoExpediente") Número de expediente
                  div(class="row")
                    div(class="input-field col s2")
                      input(placeholder="Status" id="Status" type="text" class="validate" readonly required)
                      label(for="Status") Status expediente
                    div(class="input-field col s10")
                      input(placeholder="Paciente" id="NombrePaciente" type="text" class="validate" readonly required)
                      label(for="NombrePaciente") Nombre del paciente
                  div(class="row")
                    div(class="input-field col s6 ")
                      input(placeholder="Sexo" id="Sexo" type="text" class="validate"  readonly required)
                      label(for="Sexo") Sexo
                    div(class="input-field col s6")
                      input(placeholder="Edad" name="Edad" id="Edad" type="text" class="validate" readonly required)
                      label(for="Edad") Edad
                  div(class="row")
                    div(class="input-field col s12")
                      textarea(placeholder="Tratamiento" name="Tratamiento" class="materialize-textarea" id="Tratamiento" class="validate" readonly required)
                      label(for="Tratamiento") Tratamiento
                  div(class="row")
                    div(class="input-field col s6 ")
                      input(placeholder="Avances" name="Avances" id="Avances" type="text" class="validate" readonly required)
                      label(for="Avances") Sesion(es) registradas
                    div(class="input-field col s6")
                      input(placeholder="Total de sesiones del tratamiento" id="TotalSesiones" type="text" class="validate" readonly required)
                      label(for="TotalSesiones") Total de sesiones
                  //div(class="row")
                    div(class="col s5 push-s2")
                      a(class="waves-effect waves-light btn rigth green darken-1") Ver historial
                    div(clas="col s5 pull-s3")
                      a(class="waves-effect waves-light btn right blue-grey darken-4 ") Inicio   
    
        div(id="tratamiento_clinico" class="modal modal-fixed-footer")
          div(class="modal-content")
            h4 Buscar expediente
            form(onsubmit="return getTratamiento(this);")
              div(class="input-field z-depth-1")
                input(id="search" name="NoExpediente" type="search" requiere="true" placeholder="Ingrese el numero de expediente del paciente")
                label(class="label-icon" for="search") 
                  i(class="material-icons left") search
                
            ul(class="collapsible" data-collapsible="accordion" id="tratamiento_list")
          div(class="modal-footer")
            a(class="modal-close waves-effect waves-green btn-flat" data-dismiss="modal") Cerrar
            
                    
    
        script.
              (function($){
                $(function(){
                $('.sidenav').sidenav();
                });
              })(jQuery);
              $(document).ready(function(){
                $('.modal').modal();
              });
          
          
